<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    
    <title>Movie/Game Reviews For Dummies</title>

    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="manifest" href="static/manfiest.json" />
</head>

<body>

        <h1 classs="banner">Movie/Game Reviews For Dummies</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav>

        <main>
            {& block content %}

            {% endblock %}
        </main>

        <script scr="static/js/app.js"></script>
</body>
</html>