{% extends "base.html" %}

{% block content %}

<!-- Introduction message into the PWA-->

<div class="container">

    <p>Hello. This is the Movie/Game Reviewer For Dummies! Review a movie you have watched or a game you have played. Like it or hate it, we don't care :D. Just go to this site:</p>

    <a href="https://MovieGameReviewerForDummies/">MovieGameReviwerForDummies</a> 

{% if session['username'] %}
    <br>
    <p>Hello {{ session['username'] }}</p>


    <a href="/add"><button>Add Review</button></a>

{% endif %}
<!--Template for for a movie/game review-->
</div>

<br>

<table class="my_table">

    <thead>
        <th>Date</th>
        <th>User</th>
        <th>Game or Movie</th>
        <th>Review</th>
    </thead>

    <tbody>
       {% for Review in Reviews %}
        <tr>
            <td>{{ Review['date'] }}</td>
            <td>{{ Review['username'] }}</td>
            <td>{{ Review['game or movie'] }}</td>
            <td>{{ Review['review'] }}</td>
        </tr>
        {% endfor %}
        
    </tbody>

</table>

{% endblock %}

